
.idea/php.xml
.idea/ContactList_Talkip.iml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/commandlinetools/Composer_21_01_2021_18_54_c.xml
.idea/php.xml
.idea/ContactList_Talkip.iml
